.profile_page_container {
    padding: 5%;
    display: grid;
    /* grid-template-columns: 300px auto; */
    grid-template-columns: 300px 1fr;
    column-gap: 3rem;
}

.wrapper {
    width: 300px;
    height: 80vh;
    background: #fafffd;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    align-items: center;
    height: 100%;
}
.container {
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.profile_picture {
    width: 180px;
    height: 180px;
    background-color: #707070;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_picture img {
    width: 174px;
    height: auto;
    border-radius: 50%;
}

.button_style {
    background: #04519c;
    border-radius: 20px;
    border: 0;
    height: 45px;
    width: 150px;
    font-size: large;
    font-weight: 600;
    color: white;
}
.tab_style_button {
    border: 0;
    background: #fafffd;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #3e4b56;
}
.hr_line {
    width: 100%;
    border: 1px solid #c4c4c4;
}

@media (max-width: 700px) {
    .profile_page_container {
        grid-template-columns: 1fr;
        column-gap: 3rem;
    }
    .wrapper {
        display: none;
    }
}
