.signIn_modal {
    background: #ffffff;
    box-shadow: 4px 4px 50px 1px rgba(0, 0, 0, 0.15);
    border-radius: 1rem !important;
}

.modal_radius {
    border-radius: 1rem !important;
}

.input_box {
    border-radius: 50px !important;
    background: rgba(255, 255, 255, 0.53);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pass_input_box {
    padding-right: 40px;

    border-radius: 50px !important;
    background: rgba(255, 255, 255, 0.53);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pass_eye {
    position: absolute;
    right: 15px;
    top: 52%;
    height: 30px;
    width: 25px;
    color: #0052a7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.forget_pass {
    display: flex;
    justify-content: end;
}

.signIn_btn {
    background: #e7ab53;
    border-radius: 50px;
    border: 0;
    height: 45px;
    width: 150px;
    font-size: large;
    font-weight: 600;
    color: white;
}

.joinUs_btn {
    background: #0052a7;
    border-radius: 50px;
    border: 0;
    height: 45px;
    width: 150px;
    font-size: large;
    font-weight: 600;
    color: white;
}

.login_with_container {
    display: flex;
    justify-content: space-between;
}

p {
    margin-right: 20px;
    margin-left: 20px;
}

.sign_title {
    color: #1d2226d9;
    display: inline-block;
    padding-bottom: 13px;
}

.in_title {
    color: #1d2226d9;
    display: inline-block;
    padding-bottom: 13px;
}

.hr_line_container {
    display: flex;
    justify-content: center;
    height: 4px;
}
.hr_line_loading_box {
    display: flex;
    width: 35%;
    height: 4px;
    overflow: hidden;

    animation: leftRightLoading 2s ease infinite;
}

.hr_line_box {
    display: flex;
    width: 35%;
    height: 4px;
    overflow: hidden;
}

.hr_line_yel {
    display: inline-block;
    width: 50%;
    height: 4px;
    background-color: #e7ab53;
}

.hr_line_blu {
    display: inline-block;
    width: 50%;
    height: 4px;
    background-color: #0052a7;
}

.modall {
    width: 600px;
    margin: auto;
}

@keyframes leftRightLoading {
    0% {
        transform: translateX(-90%);
    }
    /* 25% {
        transform: translateX(90%);
    } */
    50% {
        transform: translateX(90%);
    }
    /* 75% {
        transform: translateX(-90%);
    } */
    100% {
        transform: translateX(-90%);
    }
}
