.navContainer {
    display: flex;
    position: relative;
    z-index: 99999999;
}

.navDiv {
    background-color: var(--theme);
    /* #61dafb */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
}

.navMenuBtn {
    color: white;
    font-size: 30px;
    padding: 5px 15px;
    /* background-color: #0000003e; */
    border-radius: 25%;
}

.navMenuBtn2 {
    padding: 5px 15px;
}

.navLogoContainer {
    /* background-color: white; */
}

.navLogo {
    height: 80px;
}

.navUserIcon {
    color: white;
    background-color: #0000003e;
    display: flex;
    font-size: 1.6rem;
    padding: 8px 8px 8px 25px;
    align-items: center;
    margin-right: 20px;
    border-radius: 35px;
}

.navUserImg {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-left: 8px;
}

/* menu */


.navMenuContainer {
    width: 75px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
}

.navMenu {
    color: white;
    background-color: #00000062;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: transform 0.1s ease-in;
    transform: scaleX(0);
    transform-origin: left;
}

.navMenuSmoothHide {
    animation: smoothHide 5s ease-in 0s 1 normal forwards;
}

.navMenuHide {
    transform: scaleX(0);
}

.navMenuVisible {
    transform: scaleX(1);
}

.navMenuContainer:hover .navMenu {
    visibility: visible;
}

.navTopMenu {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navDownMenu {
    height: 15%;
}

.navItem {
    color: white;
    font-size: 27px;
    margin: 10px 0px;
    padding: 15px 25px;
    position: relative;
    cursor: pointer;
}

.achievementItem {
    font-size: 35px;
    margin: 5px 0px;
    padding: 15px 21px;
}

.itemTag {
    position: absolute;
    top: 18%;
    left: 76px;
    font-size: 20px;
    background-color: #00000062;
    padding: 10px 20px 10px 0px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;

    transition: transform 0.3s ease-in;
    transform: scaleX(0);
    transform-origin: left;
}

.navItem:hover .itemTag {
    transform: scaleX(1);
}

.active {
    color: var(--theme);
}


@keyframes smoothHide {

    0%,
    90% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}